flows.json
[
    {
        "id": "aab9be0a350bb435",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "271f227755cf776d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "95407a31fb6c438c",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial,Arial,Helvetica,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8d39c4d9c54fe3e7",
        "type": "ui_group",
        "name": "Lamp (PWM)",
        "tab": "271f227755cf776d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e80f0e0199a21ef3",
        "type": "mqtt-broker",
        "name": "Parking Occupancy Monitor @138 Eloff",
        "broker": "tcp://broker.emqx.io:1883",
        "port": "1883",
        "clientid": "MqttDashboard-1491455",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fbea6d0106cb1742",
        "type": "ui_group",
        "name": "Parking Monitor (Results)",
        "tab": "c323579f33045c7d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "df41c94a65f84632",
        "type": "ui_group",
        "name": "Vehicle Direction",
        "tab": "c323579f33045c7d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c323579f33045c7d",
        "type": "ui_tab",
        "name": "Parking Occupancy Monitor @138 Eloff Building",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc58f3d6989b0d4e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "192.168.0.20",
        "port": "3306",
        "db": "mqtt",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "46bd36df3fe415c5",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "c323579f33045c7d",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "b2907dad.3b4d88",
        "type": "mqtt-broker",
        "name": "My RPi Broker",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "f57a184e.4f4fa",
        "type": "ui_tab",
        "name": "ESP32",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d7c12b74.277828",
        "type": "ui_group",
        "name": "Controls",
        "tab": "f57a184e.4f4fa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dbf2452e.b49af",
        "type": "ui_tab",
        "name": "ESP8266",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4120bc84.e1bb74",
        "type": "ui_group",
        "name": "Controls",
        "tab": "dbf2452e.b49af",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7ccde2ba.796d34",
        "type": "ui_group",
        "name": "Monitor",
        "tab": "dbf2452e.b49af",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ae4b8351.dfe6f8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "45975112.c3f2d8",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "bcd0bf9963311e54",
        "type": "remote-config",
        "name": "Node-RED UI [Parking occupancy Monitor]",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "8r51krwst40o6eh8uq1qocl7774djfa186rdh65jxcif0gd9j63x2kfy1dtl1w0h",
        "server": "nodered04.remote-red.com",
        "region": "de"
    },
    {
        "id": "d92a249f5238377f",
        "type": "ui_text",
        "z": "aab9be0a350bb435",
        "group": "fbea6d0106cb1742",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Parking space",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "7a8626f0cfd64021",
        "type": "ui_text",
        "z": "aab9be0a350bb435",
        "group": "df41c94a65f84632",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Direction of vehicle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "9ec766a1f3506cba",
        "type": "ui_text",
        "z": "aab9be0a350bb435",
        "group": "fbea6d0106cb1742",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Space Avaliability",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "7b09d703f97d66e8",
        "type": "ui_text",
        "z": "aab9be0a350bb435",
        "group": "fbea6d0106cb1742",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total space available",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "c581e397a6a0bb09",
        "type": "debug",
        "z": "aab9be0a350bb435",
        "name": "Switched data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 200,
        "wires": []
    },
    {
        "id": "630a8479969a98f0",
        "type": "mqtt in",
        "z": "aab9be0a350bb435",
        "name": "",
        "topic": "total",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e80f0e0199a21ef3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "d92a249f5238377f",
                "c581e397a6a0bb09"
            ]
        ]
    },
    {
        "id": "e087c68e92403ff6",
        "type": "mqtt in",
        "z": "aab9be0a350bb435",
        "name": "",
        "topic": "space",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e80f0e0199a21ef3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "7b09d703f97d66e8",
                "c581e397a6a0bb09"
            ]
        ]
    },
    {
        "id": "0c1ea42f9060d286",
        "type": "mqtt in",
        "z": "aab9be0a350bb435",
        "name": "",
        "topic": "direction",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e80f0e0199a21ef3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "7a8626f0cfd64021",
                "c581e397a6a0bb09"
            ]
        ]
    },
    {
        "id": "95d12b79bb6a6692",
        "type": "mqtt in",
        "z": "aab9be0a350bb435",
        "name": "",
        "topic": "command",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e80f0e0199a21ef3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "9ec766a1f3506cba",
                "c581e397a6a0bb09"
            ]
        ]
    },
    {
        "id": "914adf85162b05aa",
        "type": "remote-access",
        "z": "aab9be0a350bb435",
        "confignode": "bcd0bf9963311e54",
        "name": "",
        "verbose": 0,
        "x": 340,
        "y": 240,
        "wires": [
            []
        ]
    }
]